<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="A Jekyll web editor">
    <meta name="author" content="Lasse Brandt">
    <link rel="icon" href="/favicon.ico">

    <title>Utterson</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <script src="/js/bootstrap.min.js"></script>
    <link href="/css/dashboard.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Utterson</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="<%= url('/hyde/sites') %>">Switch website</a></li>
            <li><a href="<%= url('/hyde/create') %>">Create website</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-3 col-md-2 sidebar">
          <% if current_site %>
            <h4><%= current_site.id %></h4>
            <p><%= current_site.title %></p>

            <ul class="nav nav-sidebar">
              <li<% if request.path_info == path_to('') %> class="active"<% end %>><a href="<%= url_to('') %>">Posts</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li<% if request.path_info == path_to('/deploy') %> class="active"<% end %>><a href="<%= url_to('/deploy') %>">Deploy</a></li>
              <li<% if [path_to('/configuration') , path_to('/rename')].include? request.path_info %> class="active"<% end %>><a href="<%= url_to('/configuration') %>">Configuration</a></li>
            </ul>

          <% end %>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<%= yield %>

        </div>
      </div>
    </div>

    <script src="/js/jquery.min.js"></script>

  </body>
</html>

